# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json
.expo/
.expo-shared/
dist/
web-build/
.sourcemaps/

# OS/editor
.DS_Store
.vscode/
.idea/

# Env
.env

# Coverage
coverage/

# Keys/certs (never commit)
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
git
git.pub
